  
<div class="menuButtons">
    <nav>
        <button class="stylesButtons" id="coronadeathsBtn" name="coronadeathsBtn">
            CUMULATIVE CORONA DEATHS</button>
        <button class="stylesButtons" id="coronaCaseslBtn" name="coronaCaseslBtn">CUMULATIVE CORONA CASES</button>
        <button class="stylesButtons" id="florestalBtn" name="florestalBtn">
            FOREST CHANGES</button>
        <button class="stylesButtons" id="climaticBtn" name="climaticBtn">CLIMATICS CHANGES</button>
        <button class="stylesButtons" id="desmatamentoBtn" name="desmatamentoBtn"> DEFORASTION INDEX</button>
        <button class="stylesButtons" id="populacionalBtn" name="populacionalBtn">POPULATION DENSITY</button>
        <button class="stylesButtons" id="pecuariaBtn" name="pecuariaBtn">LIVESTOCK</button>
        <button class="stylesButtons" id="animalsBtn" name="animalsBtn">TRÁFEGO E EXTINÇÃO DE ANIMAIS</button>
    </nav> 
    <div class="analiseContainer">
        <div class="headerAnalise">
            <button  class="stylesBtnAnalise" id="animalsBtn" name="animalsBtn">Analysis</button>
            <button  class="stylesBtnAnalise-close" id="fecharBtn" name="fecharBtn">X</button>
        </div>
        <div class="contentContainer">
            <h3>BRAZIL</h3>

            In 2018 Brazil had 492 MHa of natural forest, covering 59% of its land area. In 2018, 2.83 Mha of natural forest lost 1.00Gt of C02 emissions

            <h3>LOSS OF ARBORIZED COVERAGE IN BRAZIL</h3>

            From 2001 to 2018 Brazil lost 53.8MHa of tree cover equivalent to a 10% decrease in tree cover since 2000, and 18.3GT of C02 emissions.
        </div>
    </div>   
</div>


