<div class="menuButtons">
    <nav>
        <button class="stylesButtons">CORONAVIRUS EM TEMPO REAL</button>
        <button class="stylesButtons">EPIDEMIAS ZOONÓTICAS PELO MUNDO</button>
        <button class="stylesButtons">MUDANÇA FLORESTAL</button>
        <button class="stylesButtons">MUDANÇAS CLIMÁTICAS</button>
        <button class="stylesButtons">ÍNDICE DE DESMATAMENTO</button>
        <button class="stylesButtons">DENSIDADE POPULACIONAL</button>
        <button class="stylesButtons">PECUÁRIA</button>
        <button class="stylesButtons">TRÁFEGO E EXTINÇÃO DE ANIMAIS</button>
    </nav>    
</div>

