<div class="menuButtons">
    <nav>
        <button class="stylesButtons" id="coronaBtn" name="coronaBtn">
            CORONAVIRUS IN REAL TIME</button>
        <button class="stylesButtons" id="florestalBtn" name="florestalBtn">ZOONOTICS EPIDEMICS AROUND A WORLD</button>
        <button class="stylesButtons" id="florestalBtn" name="florestalBtn">
            FOREST CHANGES</button>
        <button class="stylesButtons" id="climaticBtn" name="climaticBtn">CLIMATICS CHANGES</button>
        <button class="stylesButtons" id="desmatamentoBtn" name="desmatamentoBtn"> DEFORASTION INDEX</button>
        <button class="stylesButtons" id="populacionalBtn" name="populacionalBtn">POPULATION DENSITY</button>
        <button class="stylesButtons" id="pecuariaBtn" name="pecuariaBtn">LIVESTOCK</button>
        <button class="stylesButtons" id="animalsBtn" name="animalsBtn">TRÁFEGO E EXTINÇÃO DE ANIMAIS</button>
    </nav>    
</div>

<div class="analiseContainer">
    <div class="headerAnalise">
        <button  class="stylesBtnAnalise" id="animalsBtn" name="animalsBtn">TESTE</button>
        <button  class="stylesBtnAnalise" id="animalsBtn" name="animalsBtn">TESTE</button>
    </div>
    <div class="contentContainer">
    </div>
</div>

